@import "../../styles/variables";
@import "../../styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ModalDrink {
  width: 100%;
  font-family: $primary-font;
  color: $neutral-color;
  padding: 10px;

  .button {
    background-color: transparent;
    color: $active-color;
    border: none;
    cursor: pointer;
  }

  .card {
    @include flex-container(row, center, flex-start, 30px);
    margin-top: 30px;

    img {
      width: 40%;
      height: 40%;
      border-radius: 50px;
      border-top-left-radius: 200px;
      border-right: 2px solid $active-color;
      border-bottom: 2px solid $active-color;
    }

    .text {
      @include flex-container(column, flex-start, flex-start, 20px);
      width: 60%;

      h1 {
        font-family: $secondary-font;
        letter-spacing: 0.05em;
        font-size: 40px;
      }

      p {
        width: 60%;
        color: $disabled-color;
        margin-top: -10px;
      }

      .list {
        list-style: decimal inside;
        width: 600px;

        h3 {
          font-weight: 700;
          margin-bottom: 15px;
        }
      }
      .carouselButton button {
        cursor: pointer;
        border: 1px solid $active-color;
        padding: 5px 10px;
        margin-right: 10px;
        color: $active-color;
        background-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .ModalDrink {
    .card {
      @include flex-container(column, center, flex-start, 30px);

      img {
        width: 100%;
      }
    }
  }
}
