@import "../../styles/variables";
@import "../../styles/mixins";

.Hero {
  @include flex-container(column, center, center, 40px);
  margin-top: 30px;

  .Hero_title {
    font-family: $secondary-font;
    font-size: 5rem;
    color: $neutral-color;
  }

  .Hero__second__list {
    @include flex-container(row, center, center, 40px);
    padding: 0;
    list-style-type: none;
    margin-bottom: 50px;

    li {
      font-family: $primary-font;
      padding: 4px 8px;
      border: 1px solid transparent;
      cursor: pointer;
      color: $neutral-color;

      &:hover {
        border: 1px solid $active-color;
      }
    }

    .active {
      background-color: $active-color;
      color: $primary-color;
    }
  }
}
