$primary-color: #150f0f;
$secondary-color: #6c6c6c;

$active-color: #ff6d16;
$disabled-color: #c0c0c0;
$neutral-color: #fafafa;

$primary-font: "Montserrat", sans-serif;
$secondary-font: "DM Serif Display", serif;
